<launch>
  <arg name="manager" default="phidgets_manager" doc="Nodelet manager for this nodelet" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

  <include file="$(find phidgets)/launch/logging.launch">
    <arg name="manager" value="$(arg manager)"/>
  </include>
  
  <!-- <include file="$(find phidgets)/launch/spatial.launch">
    <arg name="manager" value="$(arg manager)"/>
  </include> -->

  <include file="$(find phidgets)/launch/motor.launch">
    <arg name="manager" value="$(arg manager)"/>
  </include>
</launch>